<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="1" parallel="tests" verbose="3">
    <test name="AndroidTests" parallel="methods" thread-count="1">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.application.tests.mobile.AndroidTest"/>
        </classes>
    </test>
    <test name="iOSTests">
        <classes>
            <class name="com.application.tests.mobile.iOSTest"/>
        </classes>
    </test>
    <test name="LoginPageTests">
        <classes>
            <class name="com.application.tests.web.LoginPageTest"/>
        </classes>
    </test>
    <test name="APITests">
        <classes>
            <class name="com.application.tests.api.TestsOnLocalAPI"/>
        </classes>
    </test>
    <test name="RegisterPageTest">
        <classes>
            <class name="com.application.tests.web.RegisterPageTest"/>
        </classes>
    </test>
    <test name="ReservationPageTests">
        <classes>
            <class name="com.application.tests.web.ReservationTest"/>
        </classes>
    </test>
</suite>